/* media query mobile*/
@media (max-width: 576px)
{
    .body{
        width: 100%;
        margin:0px;
      
    }
    .fundo {
        display: none;
    }
    .esquerda {
    background-color: #007bff;

    }

    .direita{
        background-color: #007bff;

    }

    .logo-mobile{
        background-image: url('../imgs/logo-mobile.png');
        background-repeat: no-repeat;
        background-color:white;
        height: 90px;
        margin-top:60px;
        background-position: center center;
      
    }

}
/*  */

    .logo-mobile{
        display: none;
    }    

  
    .full-width{
        width:auto ;
        display: block;
    }


    .error-message {
        background-color: #d40a1a;
        color:white;
        font-weight: bold;
        text-align:center;
        display: block;
        padding:0.3em;
        margin-top:60px;
        display: block;

    }

    .status-message {
        background-color: #8ece8e;
        color:#0b560b;
        font-weight: bold;
        text-align:center;
        position: relative;
        padding:0.3em;
    }

    .warning-message {
        background-color: #fffd00;
        color:#0b560b;
        font-weight: bold;
        text-align:center;
        position: relative;
        padding:0.3em;
    }


    .fundo {
        background-image: url('../imgs/fundo.jpg');
        background-repeat: no-repeat;
        background-color: #1a1e2f;
        background-size: cover;   
    }

    html, body {
        height: 100%;
        margin: 0;
        width:100%;
        overflow-x: hidden;
    } 

    .full-height {
        height: 100%;
        }    

    .logo-quantic {
        margin-bottom: 10em;
        margin-top:10em;
        margin-left: 10em;
        margin-right: 10em;
    }

    .branco {
        background-color: white;
    }


    .formulario-login {
        margin-top:5em;
        margin-bottom:10em;
        padding-left: 5em;
        padding-right: 5em;
        
    }

    .destaque {
        font-weight:bold;
        font-size: 1.5em;
    }

    .senha {
        font-size:0.8em;
        text-align: left;
    }

    .config {
        margin-right: 5em;
        
    }

    .nav-link {
        margin-right:2em;
    }

    .campos{
        margin-bottom:2em;
    }

    /* input line */
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    select.form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus,
    input[type="time"]:focus,
    input[type="number"]:focus,
    select.form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    input[type="password"]:focus,
    select.form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
